@import './base/reset.css';
@import '../style/catalog/catalog.css';
@import './bag/bag.css';
@import "./item-card/item-card.css";

body {
    background-color: rgb(237, 237, 237);
    font-family: "Google Sans", sans-serif;
}

.container {
    display: flex;
    padding: 20px;
}