.catalog-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 70%;
    padding-right: 20px;
}

.item-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    flex-basis: calc((100% - (20px * 4)) / 5);
    padding: 16px;
    transition: all 0.2s ease;
    border-radius: 10px;
}
.item-card:hover {
    background-color: rgb(210, 210, 210);
}

.item-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.item-model {
    margin-top: 16px;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
}

.item-series {
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 18px;
    opacity: 60%;
}

.item-price {
    margin-bottom: 20px;
    font-size: 20px;
}

.item-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-family: inherit;
    font-weight: 600;
    border: 1px solid black;
    border-radius: 10px;
    transition: all 0.2s ease;
}
.item-button:active {
    background-color: rgb(131, 134, 129);
    color: rgb(237, 237, 237);
}

.banner {
    width: 100%;
    height: 300px;
    background-image: url(https://promo.s1.citilink.ru/pvz/img/header.jpg);
    background-position: 50%;
    background-size: cover;
}
